body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-window {
    display: none;
    text-align: left;
}

.start-screen {
    text-align: center;
}

.start-screen button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.start-screen button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin: 5px 0;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#retryButton {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#retryButton:hover {
    background-color: #d9534f;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: #76c7c0;
    border-radius: 10px;
    transition: width 0.3s;
}